{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-between">
        <h1>Liste des produits</h1>
        <div>
            <a class="btn btn-success" href="{{ path('product_new') }}">Ajout un produit</a>
        </div>
    </div>
    <div {{ react_component('ProductList') }}>
        Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>
{% endblock %}